
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
	background-color: black;
}

$red: #900;

a, a:active, a:visited, a:hover {
	color: $red;
}

/* bootstrap overrides */
.page-link {
	color: $red;
}

#header {
	padding: 2em 0;
	color: white;
	a, a:active, a:visited, a:hover {
		color: white;
	}
}

#posts {
	color: white;
	background-color: #555;
	border-radius: 1em;
	padding: 1em;

	.post {
		background-color: #999;
		color: black;
		border-radius: 1em;
		padding: 1em;
		margin-bottom: 1em;
		a, a:active, a:visited, a:hover {
			color: $red;
		}	
		h2 {
			a, a:active, a:visited, a:hover {
				color: black;
			}
			small {
				font-size: 1rem;
			}
		}
	}
}

#footer {
	padding: 2em 0;
	color: white;
	text-align: center;
}
